/Documents/NetBeansProjects/MTuring/target/
/Documents/NetBeansProjects/Turing/target/
/Documents/NetBeansProjects/TuringMachine/target/
/Documents/NetBeansProjects/PRUEBAMT/target/
/Documents/NetBeansProjects/PRUEBA/target/
/Documents/NetBeansProjects/Proyecto_compiladores/target/
/Documents/NetBeansProjects/PCOMPILADOR/target/
/Documents/NetBeansProjects/Compiladores/target/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes y Automatas 2/nbproject/private/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes y Automatas 2/Proyecto_LyA/nbproject/private/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes y Automatas 2/Proyecto_LyA/build/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes y Automatas 2/Proyecto_LyA/dist/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes y Automatas 2/build/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes y Automatas 2/dist/
/Documents/NetBeansProjects/Proyecto_Lenguajes y Automatas 2/Proyecto_Lenguajes_y_Automatas_2/nbproject/private/
/Documents/NetBeansProjects/ArbolGrafico/nbproject/private/
/Downloads/ArbolExpresionGrafico/ArbolGrafico/nbproject/private/
/Downloads/ArbolExpresionGrafico/ArbolGrafico/build/
/Documents/NetBeansProjects/ArbolGrafico/build/
/Documents/NetBeansProjects/Tarea1_201123065-master/build/
/Documents/NetBeansProjects/Tarea1_201123065-master/nbproject/private/
/Documents/NetBeansProjects/Arbolprueba/target/
/Documents/NetBeansProjects/Arbolpruebaaaa/target/
/Desktop/Analizador_Sintactico_EDD-master/Analizador_Sintactico_EDD-master/build/
/Desktop/Analizador_Sintactico_EDD-master/Analizador_Sintactico_EDD-master/nbproject/private/
/Downloads/Arboles/Arboles/build/
/Downloads/Arboles/Arboles/dist/
/Downloads/Arboles/Arboles/nbproject/private/
/Documents/NetBeansProjects/arbolito/target/
/Downloads/LienzoArbol/LienzoArbol/build/
/Downloads/LienzoArbol/LienzoArbol/dist/
/Downloads/LienzoArbol/LienzoArbol/nbproject/private/
/Documents/NetBeansProjects/PruebaArbol/target/
/Documents/NetBeansProjects/CompiladorArbol/target/
**/*.localz
**/*.local
**/*.git
**/*.DS_Store
